@use '@/app/mixin';

.button {
    background: var(--black-grafit);
    color: var(--alabaster-white);
    padding: 24px;
    width: 100%;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-size: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 450ms ease-in-out;

    &_arrow {
        @include mixin.heading-s;

        &:hover {
            box-shadow:
                inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
                inset 0px -4px 0px 0px #0048c433,
                0px 0px 0px 4px rgba(255, 255, 255, 0.2),
                0px 0px 180px 0px var(--accent);
        }
    }

    span {
        display: block;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .arrow {
        margin-left: 12px;
        transition: all 0.3s ease-in-out;
    }
    &:hover {
        background: var(--accent);
        opacity: 0.9;
        .arrow {
            margin-left: 24px;
        }
    }
    &_arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        @include mixin.heading-s;

        .arrow {
            width: 20px;
            height: 20px;
            transition: all 0.3s ease-in-out;
        }
        &:hover .arrow {
            transform: translateX(3px);
        }
    }

    @include mixin.mobile {
        font-size: 24px;
        padding: 20px;
    }
}
