@use '@/app/mixin';

.list_item {
    padding: 10px 0px;
    @include mixin.heading-s;
    display: flex;
    justify-content: space-between;
    border-bottom: 1.5px solid var(--black-grafit);
    p {
        font-style: italic;
    }

    @include mixin.mobile {
        @include mixin.caption-s;
    }
}
